/*
	sebelumnya sudah belajar font sekarang belajar text
	pada css, css membedakan font dan text,
	font terkait dengan type face
	text terkait dengan property pendukung nya seperti warna, identasi, jarak antara kata, jarak antara huruf, dan lain sebagainya




	text styling pada css
	property nya adalah
	1. color ( memberi warna pada tulisan )
	2. text-align ( mengatur format paragraf / teks )
	3. text-indent ( memberi indentasi pada paragraf / teks )
	4. text-decoration ( mengatur dekorasi pada text )
	5. text-transform ( mengubah jenis huruf menjadi huruf kecil dan besar / kapital )
	6. letter-spacing ( mengatur spasi antar huruf )
	7. word-spacing ( mengatur spasi antar kata / global )
==============================================================================================

1. color
	memiliki value
	1. nama warna ( red, lightseagreen, royalblue, ..... )
	2. hexadecimal ( #ff0000, #20b2aa, #4169e1, ...... )
	3. rgb(255,0,0), rgb(32,178,170), rgb(65,105,225), ......

p{
	color: red;
	color: #ff0000;
	color: rgb(255,0,0);
}



2. text-align
	memiliki value
	1. left ( mengatur paragraf menjadi rata kiri )
	2. right ( mengatur paragraf menjadi rata kanan )
	3. center ( mengatur paragraf menjadi rata tengah )
	4. justify ( mengatur paragraf menjadi rata kiri kanan )

p {
	text-align: left;
	text-align: right;
	text-align: center;
	text-align: justify;
}



3. text-indent
	memiliki value
	px ( pixel, mengatur indentasi sesuai pixel )
	% ( percent, mengatur indentasi sesuai persen, jika 10% maka indentasi nya sebesar 10% dari browser )

p {
	text-indent: 10px;
	text-indent: 10%;
}



4. text-decoration
	memiliki value
	1. none ( untuk menghilangkan garis bawaan dari tag link di html )
	2. underline ( garis bawah tulisan )
	3. overline ( garis di atas tulisan )
	4. line-through ( garis nya melewati tulisan, atau seperti mencoret tulisan nya )

h1 {
	text-decoration: underline;
	text-decoration: overline;
	text-decoration: line-through;
}

a {
	text-decoration: none;
}



5. text-transform
	memiliki value
	1. none ( default )
	2. lowercase ( memaksa tulisan untuk menjadi huruf kecil semua )
	3. uppercase ( memaksa tulisan untuk menjadi huruf besar semua )
	4. capitalize ( memaksa tulisan untuk menjadi kapital )

p {
	text-transform: lowercase;
	text-transform: uppercase;
	text-transform: capitalize;
}



6. letter-spacing
	memiliki value
	1. normal
	2. px (pixel)

p {
	letter-spacing: normal;
	letter-spacing: 10px;
}



7. word-spacing
	memiliki value
	1. normal
	2. px (pixel)

p {
	word-spacing: normal;
	word-spacing: 10px;
}
*/