/*
	selector digunakan pada css untuk mengenali sebuah elemen HTML yang akan di beri style
	
	selectors
	1. element HTML
	2. id
	3. class
=============================================================================================================================

1. element HTML

body {
	font-family: arial;
}
artinya mengubah semua font dalam tag body menjadi arial

h1, h2 {
	color: green;
}
artinya mengubah warna pada tag h1 dan h2 menjadi hijau

h2 {
	font-style: italic;
}
artinya mengubah font style hanya pada tag h2



untuk mengubah warna link jika menggunakan seperti di atas

ul {
	color: yellow; artinya, ubah warna dalam ul menjadi kuning
}

cara seperti itu tidak bisa, karena yang di ubah bukan link nya tapi hanya <ul> saja
lalu dengan menggunakan seperti ini

a {
	color: yellow; artinya, ubah warna a menjadi kuning
}

bisa, hanya saja karena link memakai tag <a> maka semua warna dalam tag <a> akan
berubah menjadi kuning walaupun tag <a> yang kedua berada di dalam <ol>.

lalu bagaimana caranya agar bisa merubah warna link yang ada di <ul> menjadi kuning
sedangkan warna link yang ada di <ol> tidak berubah, caranya

ingat, harus di pisah dengan spasi

ul li a {
	color: yellow;
}
artinya(baca dari kanan), css tolong pilihkan saya tag <a> yang ada di dalam tag <li> yang berada di dalam tag <ul>

untuk tag <ol> cukup ikuti saja seperti tag <li>

ol li a {
	color: red;
}


=============================================================================================================================

2. id

untuk tag paragraf yaitu <p>, tidak bisa menggunakan seperti <ul> dan <ol>, karena tidak berada di dalam
tag apapun, maka dari itu kita harus membuat selector sendiri dengan menambahkan id di dalam tag <p> dp file html.
jika sudah, kembali ke file css.

di dalam id tidak boleh ada indentasi atau spasi nya seperti <p id="p2 cetak-tebal">
maka jangan heran jika warna nya tidak akan berubah atau kembali menjadi warna default.

dalam penulisan untuk id di css menggunakan

#p1 {
	color: blue;
}
artinya, css tolong carikan elemen yang mempunyai id p1 dan ubah warna nya menjadi biru

id = 
	-> sebuah elemen HTML, hanya boleh memiliki 1 id
	-> setiap halaman, hanya boleh memiliki 1 elemen dengan id tersebut
	-> dapat digunakan sebagai penanda halaman untuk link
	-> digunakan juga untuk javascript
	-> sebaiknya tidak digunakan untuk CSS ( lebih baik gunakan class )

=============================================================================================================================

3. class

sama seperti id, kita harus menambahkan selector sendiri dengan menambahkan class di dalam tag <p> di file html
berbeda dengan id, untuk class kita bisa menggunakannya di dalam tag dan boleh dengan nama yang sama
lalu bisa di tambahkan huruf lain seperti <p id="p2 cetak-tebal">

dalam penulisan class di css menggunakan

.p2 {
	color: yellow;
}
artinya, css tolong carikan elemen yang mempunyai class p2 dan ubah warnya nya menjadi kuning

.cetak-tebal {
	font-weight: bold;
}
artinya hampir sama dengan .p2 di atas
=============================================================================================================================
*/