/*

	dalam css ada yang namanya Font Styling contoh nya adalah
	
	Font
	1. font-family = mengatur jenis font yang akan di gunakan
	2. font-size = mengatur ukuran font
	3. font-wight = mengatur ketebalan font
	4. font-variant = mengubah font menjadi small caps
	5. font-style = mengubah font menjadi bercetak miring
	6. line-height = mengatur spasi antar baris
	7. font = properti singkat yang dapat mewakili properti font yang lainnya
==================================================================================
	
1. font-family
	menggunakan value ( nama font dan generic family ), contoh nya

	body {
		font-family: arial, verdana, sans-serif;
	}
	
	p {
		font-family:"Times New Roman", serif;
	}
			arial, verdana, dan "Times New Roman" adalah nama font
			lalu sans-serif dan serif merupakan generic family

h1	{
	font-family: arial;
}

	atau

h1 {
	font-family:arial, verdana, sans-serif;
}

	(artinya, browser akan mencari pada sistem operasinya user font arial ada atau tidak
	kalau tidak ada, makan browser akan mencari lagi font verdana pada sistem operasi user,
	jika tidak ada juga maka pilihan terakhir browser akan mencari di generic family nya
	atau mencari di kategori font nya yaitu sans-serif.)

p {
	font-family: georgia, serif;
}

	(sama seperti yang di atas)



2. font-size
	menggunakan value 
	1. px ( pixel )
	2. % ( percent )
	3. em ( adalah satuan yang digunakan dalam media dokumen web. Sebuah em sama dengan font-size saat ini. Misalkan 1em sama dengan 16 px. )

h1	{

	font-size: 100px; = besar font nya adalah 100px
	font-size: 10%; = besar font nya adalah 10% dari browser kita
	font-size: 1em; = besar font nya Misalkan 1em sama dengan 16 px
}


3. font-weight
	menggunakan value
	1. bold ( membuat font pada teks/karakter menjadi tebal )
	2. bolder ( membuat font pada teks/karakter menjadi lebih tebal )
	3. lighter ( membuat font pada teks/karakter menjadi lebih tipis )
	4. normal ( membuat font pada teks/karakter menjadi normal )
	5. initial ( mengatur value dari properti menjadi default )
	6. 100, 200, ....., 900 ( mengatur ketebalan font pada teks/karakter berdasarkan ukuran nilai yang dipilih )

oh iya untuk h1 default font-weight nya adalah bold

p {
	
	font-wight: bold;
}



4. font-variant
	menggunakan value
	1. normal ( huruf tetap normal )
	2. small-caps ( akan membuat teks yang tadinya huruf kecil menjadi besar / huruf kapital, sedangkan jika tadinya huruf besar maka akan di ubah menjadi besar tetapi masih dengan huruf kapital. )

p {
	font-variant: small-caps;
}


5. font-style
	menggunakan value
	1. normal ( menampilkan teks dengan gaya normal )
	2. italic ( membuat teks menjadi miring jika font tersebut memiliki italic )
	3. oblique ( membuat teks menjadi menjadi miring tapi dengan di paksa, jika pada font tersebut tital memiliki italic maka oblique akan memaksa font nya menjadi miring )

p {
	font-family: arial;
	
	font-size: 30px;
	
	font-wight: bold;

	font-variant: small-caps;

	font-style: italic;
}


6. line -height
	menggunakan value
	1. normal
	2. px
	3. em

value nya sama seperti font size bedanya hanya yang ini khusus untuk line

7. font
	di gunakan untuk mempersingkat penulisan property font lain nya. Artinya, property tersebut memiliki value yang berisi dari 5 property font
	yaitu: font-style, font-variant, font-wight, font-size, dan font-family

p {
	font: italic small-caps bold 20px/30px arial, sans-serif;
}

	italic = font-style: optional ( boleh tidak ada )
	small-caps = font-variant: optional ( boleh tidak ada )
	bold = font-weight: optional ( boleh tidak ada )
	20px = font-size: wajib ( harus ada )
	30px = line-height: optional ( boleh tidak ada )
	arial, sans-serif = font-family: wajib ( harus ada )

*/